@import 'variables';
@import 'mixins';
@import 'nav';
@import 'header';
@import 'sections-suggestions';
@import 'mural';
@import 'contact';
@import 'footer';

// mais detalhes estão no README.md

// importando fontes. Não pude encontrá-las no google fonts
@font-face {
    font-family: "light";
    src: url("fonts/ArgentumSans-Light.ttf");
}
@font-face {
    font-family: "regular";
    src: url("fonts/ArgentumSans-Regular.ttf");
}
@font-face {
    font-family: "bold";
    src: url("fonts/ArgentumSans-Bold.ttf");
}

html {
    font-size: calc(15px + 0.390625vw); // 1 rem equivale a isto
    line-height: 1.3;
}
